@page
@model lab4.Pages.AcademicRecordManagement.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AcademicRecord</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicRecord.Grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcademicRecord.Grade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicRecord.CourseCodeNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcademicRecord.CourseCodeNavigation.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicRecord.Student)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcademicRecord.Student.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="AcademicRecord.CourseCode" />
        <input type="hidden" asp-for="AcademicRecord.StudentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
