@page
@model lab4.Pages.AcademicRecordManagement.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AcademicRecord</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicRecord.Grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcademicRecord.Grade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicRecord.CourseCodeNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcademicRecord.CourseCodeNavigation.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicRecord.Student)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcademicRecord.Student.Id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-page="./Index">Back to List</a>
</div>
