@page
@model lab4.Pages.AcademicRecordManagement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AcademicRecord[0].Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicRecord[0].CourseCodeNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicRecord[0].Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AcademicRecord) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseCodeNavigation.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
