@page 
@model lab2.Pages.RegistrationModel

@{
    ViewData["Title"] = "Course Registration";
    SelectList StudentList = new SelectList(AcademicManagement.DataAccess.GetAllStudents(), "StudentId", "StudentName");
}
<div class="">
    <h1 class="">Registration</h1>
    <hr style="width:50%">
    <form method="post">
        <div class="row">
            <div class="col-md-5">
                <select asp-for="StudentName" asp-items="StudentList" class="form-control" onchange="return OnSubmitStudent()" >
                    <option value="-1">Choose a Student</option>
                </select>
            </div>
            <div class="col-md-2">
                <button type="submit" id="StudentSelected" class="btn btn-primary" asp-page-handler="StudentSelected" style="display: none;">Get Registration</button>
            </div>
        </div>
    
        
    <br>
    <p class="alert-primary">
        @Model.Message
    </p>
    <hr style="width:50%">
         
        @if (Model.StudentName != null && Model.StudentName != "-1"  && Model.GradeList.Count <=0){
                   
            <table class="table">
                    <thead>
                        <tr style="height: 60px">
                            <th class="col-md-1">
                                <a asp-page="Registration" asp-route-sortOrder="Ccode">Course Code</a>
                            </th>
                            <th class="col-md-3">
                                <a asp-page="Registration" asp-route-sortOrder="Ctitle">Course Title</a>
                            </th>
                            <th class="col-md-2">
                                <label class="control-label">Check to Register</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Options.Count(); i++)
                        {
                        <tr style="height: 60px">
                            <td class="col-md-1 align-middle">
                                <input type="hidden" asp-for="@Model.Options[i].Value" />  
                                @Model.Options[i].Value
                            </td>
                            <td class="col-md-3 align-middle">
                                <input type="hidden" asp-for="@Model.Options[i].Text" />
                                @Model.Options[i].Text
                            </td>
                            <td class="col-md-2 align-middle"> 
                                <input asp-for="@Model.Options[i].Selected" />
                            </td>
                        </tr>
                        }    
                
                    </tbody>
                    
             </table>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary" asp-page-handler="Register">Register</button>
                </div>
                
        }
        @if (Model.GradeList != null && Model.GradeList.Count != 0 )
        {
            <table class="table">
                <thead>
                    <tr style="height: 60px">
                        <th class="col-md-1">
                            <a asp-page="Registration" asp-route-sortOrder="Ccode">Course Code</a>
                        </th>
                        <th class="col-md-3">
                            <a asp-page="Registration" asp-route-sortOrder="Ctitle">Course Title</a>
                        </th>
                        <th class="col-md-2">
                            <a asp-page="Registration" asp-route-sortOrder="Cgrade">Grade</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.GradeList.Count(); i++)
                        {
                        <tr style="height: 60px">
                            <td class="col-md-1 align-middle">
                                @Model.GradeList[i].CourseCode
                            </td>
                            <td class="col-md-3 align-middle">
                                @AcademicManagement.DataAccess.GetAllCourses().First(c => c.CourseCode == Model.GradeList[i].CourseCode).CourseTitle
                            </td>
                            <td class="col-md-2 align-middle"> 
                                <div class="col-md-2">
                                @if(Model.GradeList[i].Grade == -100.0)
                                    {
                                        <input type="text" class="form-control col-sm-3" asp-for=@Model.GradeList[i].Grade value=""/>
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control col-sm-3" asp-for=@Model.GradeList[i].Grade value=@Model.GradeList[i].Grade/>
                                    }
                                </div>
                            </td>
                        </tr>
                        }  
                </tbody>
            </table>
            <div class="col-md-2">
                    <button type="submit" class="btn btn-primary" asp-page-handler="Grade">Submit Grades</button>
            </div>
        }
    </form>
</div>


@section Scripts{
    <script>
        function OnSubmitStudent() 
        {
            document.getElementById("StudentSelected").click()
        } 

    </script>
}