@page 
@model lab2.Pages.RegistrationModel
@{
    ViewData["Title"] = "Course Registration";
    SelectList StudentList = new SelectList(AcademicManagement.DataAccess.GetAllStudents(), "StudentId", "StudentName");
    
    Model.Options = new List<SelectListItem>(); 
    foreach (AcademicManagement.Course c in AcademicManagement.DataAccess.GetAllCourses())
    {
        Model.Options.Add(new SelectListItem(c.CourseTitle, c.CourseCode, false));
    }
    
}
<div class="">
    <h1 class="">Registration</h1>
    <hr style="width:50%">
    <form method="post">
        <div class="row">
            <div class="col-md-5">
                <select asp-for="StudentName" asp-items="StudentList" class="form-control">
                    <option value="-1">Choose a Student</option>
                </select>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary" asp-page-handler="StudentSelected">Get Registration</button>
            </div>
        </div>
    
        
    <br>
    <p class="alert-primary">
        @Model.Message
    </p>
    <hr style="width:50%">
         
        @if (Model.StudentName != null && Model.StudentName != "-1"  && Model.Courselist.Count <=0){
                   
            <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <label class="control-label">Course Code</label>
                            </th>
                            <th>
                                <label class="control-label">Course Title</label>
                            </th>
                            <th>
                                <label class="control-label">Check to Register</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Options.Count(); i++)
                        {
                        <tr>
                            <td>
                                <input type="hidden" asp-for="@Model.Options[i].Value" />  
                                @Model.Options[i].Value
                            </td>
                            <td>
                                <input type="hidden" asp-for="@Model.Options[i].Text" />
                                @Model.Options[i].Text
                            </td>
                            <td> 
                                <input asp-for="@Model.Options[i].Selected" />
                            </td>
                        </tr>
                        }    
                
                    </tbody>
                    
                </table>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary" asp-page-handler="Register">Register</button>
                </div>
                
        }
        @if (Model.Courselist != null && Model.Courselist.Count != 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <label class="control-label">Course Code</label>
                        </th>
                        <th>
                            <label class="control-label">Course Title</label>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Courselist)
                    {
                        <tr>
                            <td>
                                @item.CourseCode
                            </td>
                            <td>
                                @item.CourseTitle
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </form>
    

    



</div>
